<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aek Ads - Gujarat's Largest Digital Screen Network</title>
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/dqfnwh89v/image/upload/v1724408615/qxvvfcf7ftgklhl2k03v.png">
  <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/sidebar.css">
  <script src="https://cdn.tailwindcss.com"></script>
  
</head>

<body class="flex h-screen bg-blue-100">
  <!-- Sidebar Start -->
  <aside class="sidebar flex flex-col items-center bg-white text-gray-700 fixed md:relative h-full md:h-auto">
    <div class="flex items-center w-full p-4">

      <img src="https://res.cloudinary.com/dqfnwh89v/image/upload/v1724401978/Aek_Ads_Logo_ltfni2.svg"
        alt="image loading" />
    </div>
    <nav class="flex flex-col w-full">
      <a href="/Dashboard" class="nav-link  flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 9H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M9 21V9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="ml-2">Dashboard</span>
      </a>
      <a href="/Dashboard/Screens" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2 16.1C2.96089 16.296 3.84294 16.7702 4.53638 17.4636C5.22982 18.1571 5.70403 19.0391 5.9 20M2 12.05C4.03079 12.2759 5.92428 13.186 7.36911 14.6309C8.81395 16.0757 9.72414 17.9692 9.95 20M2 8V6C2 5.46957 2.21071 4.96086 2.58579 4.58579C2.96086 4.21071 3.46957 4 4 4H20C20.5304 4 21.0391 4.21071 21.4142 4.58579C21.7893 4.96086 22 5.46957 22 6V18C22 18.5304 21.7893 19.0391 21.4142 19.4142C21.0391 19.7893 20.5304 20 20 20H14"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M2 20H2.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Screens</span>
      </a>
      <a href="/Dashboard/Playlist" class="nav-link flex items-center p-4 hover:bg-gray-100">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 6H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M8 12H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M8 18H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 6H3.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 12H3.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 18H3.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Playlists</span>
      </a>
      <a href="/Dashboard/LiveContent" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 6H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M8 12H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M8 18H21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 6H3.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 12H3.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M3 18H3.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Live Content</span>
      </a>
      <a href="/Dashboard/Library" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22 19C22 19.5304 21.7893 20.0391 21.4142 20.4142C21.0391 20.7893 20.5304 21 20 21H4C3.46957 21 2.96086 20.7893 2.58579 20.4142C2.21071 20.0391 2 19.5304 2 19V5C2 4.46957 2.21071 3.96086 2.58579 3.58579C2.96086 3.21071 3.46957 3 4 3H9L11 6H20C20.5304 6 21.0391 6.21071 21.4142 6.58579C21.7893 6.96086 22 7.46957 22 8V19Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Library</span>
      </a>
      <a href="/Dashboard/Proposal" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22 19C22 19.5304 21.7893 20.0391 21.4142 20.4142C21.0391 20.7893 20.5304 21 20 21H4C3.46957 21 2.96086 20.7893 2.58579 20.4142C2.21071 20.0391 2 19.5304 2 19V5C2 4.46957 2.21071 3.96086 2.58579 3.58579C2.96086 3.21071 3.46957 3 4 3H9L11 6H20C20.5304 6 21.0391 6.21071 21.4142 6.58579C21.7893 6.96086 22 7.46957 22 8V19Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Proposal</span>
      </a>
      <a  href="/Dashboard/Teams" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Team</span>
      </a>
      <a href="/logs" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8L14 2Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M14 2V8H20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M16 13H8" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M16 17H8" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10 9H9H8" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Log</span>
      </a>
      <!-- <a href="Tickets" class="nav-link flex items-center p-4 hover:bg-gray-200">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 8V12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 16H12.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Tickets</span>
      </a> -->
    </nav>
    <div style="margin-bottom: 10%;">
    <div class="admin-button" style="display: none;">
      <!-- <input type="button" class="admin-btn" value="Admin"> -->
      <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 26.75C20.5416 26.75 26.25 21.0416 26.25 14C26.25 6.95837 20.5416 1.25 13.5 1.25C6.45837 1.25 0.75 6.95837 0.75 14C0.75 21.0416 6.45837 26.75 13.5 26.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.5 20.75V19.25C19.5 18.4544 19.1839 17.6913 18.6213 17.1287C18.0587 16.5661 17.2956 16.25 16.5 16.25H10.5C9.70435 16.25 8.94129 16.5661 8.37868 17.1287C7.81607 17.6913 7.5 18.4544 7.5 19.25V20.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.5 13.25C15.1569 13.25 16.5 11.9069 16.5 10.25C16.5 8.59315 15.1569 7.25 13.5 7.25C11.8431 7.25 10.5 8.59315 10.5 10.25C10.5 11.9069 11.8431 13.25 13.5 13.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span>Admin</span>
    </div> <div class="logout">
      <a href="/logout">Logout</a>
    </div>
  </div>
  </aside>
  <!-- Sidebar End -->


<script>
  document.addEventListener('DOMContentLoaded', function() {
  const navLinks = document.querySelectorAll('.nav-link');
  const currentUrl = window.location.pathname;

  navLinks.forEach(link => {
    if (link.getAttribute('href') === currentUrl) {
      link.classList.add('activ');
    }
  });
});
</script>

</body>

</html>
