<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Playlist</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dqfnwh89v/image/upload/v1724408615/qxvvfcf7ftgklhl2k03v.png">
    <link rel="stylesheet" href="/css/newPlaylist.css">
    <style>
        .main {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .main input[type="text"] {
            width: calc(50% - 5px);
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .main label {
            width: 100%;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="newPlaylist">
        <div class="header">
            <button2 onclick="exitfunction()">Exit</button2>
            <button id="selectScreenButton">Select Screen</button>
           
        </div>
        <div class="main">
            <label for="live1">Live 1 URL:</label>
            <input type="text" id="live1" name="live1">
            
            <label for="live2">Live 2 URL:</label>
            <input type="text" id="live2" name="live2">
            
            <label for="live3">Live 3 URL:</label>
            <input type="text" id="live3" name="live3">
            
            <label for="live4">Live 4 URL:</label>
            <input type="text" id="live4" name="live4">
            
            <label for="live5">Live 5 URL:</label>
            <input type="text" id="live5" name="live5">
            
            <label for="live6">Live 6 URL:</label>
            <input type="text" id="live6" name="live6">
            
            <label for="live7">Live 7 URL:</label>
            <input type="text" id="live7" name="live7">
            
            <label for="live8">Live 8 URL:</label>
            <input type="text" id="live8" name="live8">
            
            <label for="live9">Live 9 URL:</label>
            <input type="text" id="live9" name="live9">
            
            <label for="live10">Live 10 URL:</label>
            <input type="text" id="live10" name="live10">
        </div>
    </div>
 

    <script>
        function exitfunction() {
            if (confirm("Are you sure you want to exit and discard changes?")) {
                window.history.back();
            }
        }

         function getIdFromUrl() {
            const pathSegments = window.location.pathname.split('/');
            return pathSegments[pathSegments.length - 1]; // Assuming the ID is the last segment
        }
    </script>
    
</body>

</html>
